@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);form.form-rtl {
  direction: rtl;
}

form.form-rtl input {
  direction: rtl;
}

form.form-rtl select {
  direction: rtl;
}

#app {
  padding-bottom: 60px;
}

